<!DOCTYPE html>
<html>
	<head>
	  <title>Class8omniauth</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		
		<% if flash[:notice] %>
			<%= flash[:notice] %>
		<% end %>
		<% if flash[:alert] %>
			<%= flash[:alert] %>
		<% end %>


		<div id="user_nav"> 
			<% if current_user %>
				Welcome, <%=current_user.username %>!
				<%= link_to "Sign Out", signout_path, method: :delete %>
			<% else %> 
  				<%= link_to "Sign in with Twitter", "/auth/twitter" %> 
  			<% end %>
		</div>  

		<%= yield %>

	</body>
</html>
